# node modules
/node_modules/
callcenter-turnos-frontend/node_modules/

# entorno y variables
.env

# archivos del sistema
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# compilación
/build
/dist

# otros
*.log
